<%= form_for :prescription, :html => { :class => "form-horizontal general_inventory" }, :url => "/prescriptions/#{@prescription.id}", method: "delete"  do |f| %>
    <div class="card">
        <h5 class="card-header bg-secondary text-light">Cancel Prescription</h5>
        <div class="card-body">
            <div class="form-group row">
                <div class="col-md-12">
                    Are you sure you want to cancel this prescription?
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <button type="button" class="btn btn-danger" onMouseDown="hideModal()">No</button>
            <button type="submit" class="btn btn-success">Yes</button>
        </div>
    </div>
<% end %>

