<div class="justify-content-end">

  <h3>About RxMAGIC</h3>

  <p class="text-justify font-weight-light mt-2 mb-4">
    Free clinic dispensaries face immeasurable challenges due to a complex, diverse, and medically vulnerable patient population
    in addition to a limited medication formulary. Our goal is to help pharmacists effectively and efficiently manage their resources
    while providing quality pharmaceutical services. By improving management tools and reducing duplicate efforts, we believe an information
    system at the dispensary level will mitigate workflow challenges, improve provider communication, and enhance the process of medication
    management. Therefore, we created a system for Prescription Management and General Inventory Control (RxMAGIC) as an open source software
    platform that is designed to facilitate dispensary workflow and improve medication and inventory management.
  </p>

  <h3>Who is RxMAGIC?</h3>
  <p class="text-justify font-weight-light mt-2 mb-4">
    RxMAGIC is a collaborative effort led by the University of Pittsburgh Department of Biomedical Informatics
    and the Birmingham Free Clinic, a free, walk-in clinic serving a medcially vulnerable population in
    Pittsburgh, Pennsylvania.
  </p>

  <h3>RxMAGIC Features</h3>
  <ul>
    <li class="font-weight-light">Inventory control</li>
    <li class="font-weight-light">Electronic dispensing</li>
    <li class="font-weight-light">Electronic reporting</li>
  </ul>

  <p class="font-weight-light">
    You can watch the video tutorial for RxMAGIC <a href="https://youtu.be/BRMK-JLuYOg">here</a>
  </p>
</div>