<div class="col-12 justify-content-lg-start mb-5">
  <h3>Frequently Asked Questions</h3>
  <div id="accordion" class="mb-5">
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseOne">
          1. Do I need UPMC credentials to login to RxMAGIC?
        </a>
      </div>
      <div id="collapseOne" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Yes, RxMAGIC uses the same user management framework as UPMC,
          so you need UPMC credentials to login to RxMAGIC.
        </div>
      </div>
    </div>

    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseTwo">
          2. I am clicking on things on the homepage, like the dispense button, and nothing is happening.
        </a>
      </div>
      <div id="collapseTwo" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: If RxMAGIC seems unreasonably slow, give it a few minutes before clicking on something.
          If you are still having problems, contact the support team.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseThree">
          3. Why aren't medication orders showing up in RxMAGIC, do I need to wait for them to be signed?
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Yes, the orders need to be signed in Epic before they are sent to RxMAGIC. The signing process in Epic initiates
          the electronic transmission of the medication order.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseFour">
          4. What do I do if a medication order has not come across to RxMAGIC?
        </a>
      </div>
      <div id="collapseFour" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Some OTC medication orders currently do not come across to RxMAGIC. To dispense and print a label for this order in RxMAGIC, you want to first
          navigate to the appropriate patient's profile page. You can do this by navigating to 'Manage Patients' and selecting 'Advanced Search.' Enter
          the necessary credentials to the best of your ability, all fields are required but they do not need to be accurate. Once on the patient profile page, you will
          see a yellow button that says 'Dispense (No Rx).' Select this button and complete all of the fields to dispense and print a label, making sure to scan the barcode
          on the stock bottle from which you are dispensing.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseFive">
          5. The inventory suggestions panel on the dispensing page says we are out of stock of a medication, but I am certain we have that medication (or the brand name) in stock.
          Can I still dispense even though the panel says we are out of stock?
        </a>
      </div>
      <div id="collapseFive" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Short answer, yes! Go ahead and scan the bottle you’d like to dispense from and you shouldn’t have any problems. The inventory suggestions panel is
          meant to show you items in stock; these items are ranked by their expiry date. Items closest to expiry are listed first, which is intended to encourage
          you to dispense from items closer to expiry. Sometimes, prescribed medications don’t totally match the name of the inventory item (i.e. the generic form
          is prescribed but RxMAGIC lists the brand name). That is okay, you can still dispense from any bottle even if it doesn’t show up in the panel as long as
          there is sufficient inventory in RxMAGIC from the bottle you want to dispense.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseSix">
          6. The barcode on the label will not scan because the medication name is too long. What do I do?
        </a>
      </div>
      <div id="collapseSix" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: This was a problem when we first launched the system. Some of the medication names are too long and interfere with the barcode.
          To dispense from a bottle when the barcode won’t scan, simply type in the bottle ID (on the label) without the hyphen, followed by a $.
          For example, if the bottle ID is G0000-345, you will type in G0000345$.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseSeven">
          7. I need to dispense pills from two separate bottles. How do I do this?
        </a>
      </div>
      <div id="collapseSeven" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Scan the barcode label of the first bottle you are dispensing from and enter the appropriate quantity.
          Once brought back to the dispensing screen, scan the barcode of the next bottle you are dispensing from
          and enter the appropriate quantity. Your label should print once the prescribed quantity matches the dispensed
          quantity.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseEight">
          8. I dispensed something, but it was a mistake. How do I delete this and put it back into the inventory?
        </a>
      </div>
      <div id="collapseEight" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: First, you want to go to the appropriate patient’s profile page (see #4 above).
          Once you locate your patient, you will see his/her dispensation history on the bottom of the page.
          Find the appropriate dispensation and select the delete icon (red X) to void the dispensation.
          This will remove the dispensation from the activity sheet AND replenish the inventory.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseNine">
          9. How do I reprint a patient dispensation label?
        </a>
      </div>
      <div id="collapseNine" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: First, you want to go to the appropriate patient’s profile page (see #4 above).
          Once you locate your patient, you will see his/her dispensation history on the bottom of the page.
          Find the appropriate dispensation and select the delete icon (red X) to void the dispensation.
          This will remove the dispensation from the activity sheet AND replenish the inventory.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseTen">
          10. How do I reprint an inventory label?
        </a>
      </div>
      <div id="collapseTen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Navigate to the appropriate row in the inventory for the label you would like to reprint.
          Select the print icon in that row to reprint the label.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseEleven">
          11.	My patient speaks Spanish. How do I print a label for him?
        </a>
      </div>
      <div id="collapseEleven" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: In the patient profile page described above, in addition to the prescription-specific dispensing screen, you will see a toggle button that says ENG or ESP.
          Click the button to select ESP for Spanish-speaking patients. The medication directions will not print on the label so that you can manually
          translate them and write them in yourself before affixing the label to the bottle. We are working on making the translation automatic.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseTwelve">
          12.	The inventory counts in RxMAGIC are not correct. How do I edit the quantity?
        </a>
      </div>
      <div id="collapseTwelve" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: To edit inventory items, navigate to the row you would like to edit and select the pencil icon in the far right of that row.
          A dialogue box will appear with information for that item and you can edit the desired fields. If the box appears with nothing in the fields,
          there is a problem and you should contact the RxMAGIC support team.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseThirteen">
          13.	How do I add stock medications to be replenished to the Activity Sheet?
        </a>
      </div>
      <div id="collapseThirteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Low inventory alerts are only generated for items that have established par levels. If you see a low inventory alert, you can select 'Add to Activity Sheet' to add this item.
          If you think this item should have a par level, then go ahead and add one (see next question). If a par level already exists for this item, but the alert isn’t showing up, then navigate to the 'General Inventory'
          and select ‘Under Stocked Items’ on the panel on the right. Here you will see a list of all items with a link that reads ‘Add to Activity Sheet.’
          By selecting this, your item will be added to the activity sheet. It will remain on this list until the item is replenished within RxMAGIC.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseFourteen">
          14. How do I create a new par level?
        </a>
      </div>
      <div id="collapseFourteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Navigate to the ‘Manage Par Level’ section on the homepage and select ‘New Par Level.’ Enter the medication name as it appears in the inventory and the desired quantity.
          RxMAGIC will compare the total number of units in the inventory with this par level, and if it is below the par level, will generate a low inventory alert.
          The entered quantity represents the minimum number of units that should be on the shelves at all times (units should be entered in the same way as they are in the inventory, i.e. pills or total inhalers).
          Par levels can be modified using the pencil icon in the same row.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseFifteen">
          15. The barcode scanner doesn’t seem to be working. What do I do?
        </a>
      </div>
      <div id="collapseFifteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: The scanner may beep randomly and stop working. In this case, just unplug it and plug it back in.
          If you hear three ascending beeps, then you should be good to go.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseSixteen">
          16. I’m having problems with the printer. What do I do?
        </a>
      </div>
      <div id="collapseSixteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: Try and troubleshoot the printer: (1) First check to see the printer is powered on and plugged into the USB port of your computer.
          (2) Then take a look inside the printer to make sure the ribbon and labels are full, and that there are no ‘jams’ with the labels or the ribbon.
          If the printer is jammed, do your best to fix the problem. If you see you need to replace the ribbon, try and follow the instructions on the
          inside of the printer lid – being sure not to throw away the empty cardboard roll in the printer! You can also check out this youtube video
          (http://www.youtube.com/watch?v=kZxo6E7T_BE&sns=em).
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseSeventeen">
          17. The printer is functioning fine, but it still won't print a label. What do I do?
        </a>
      </div>
      <div id="collapseSeventeen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: If you see the labels downloading and they’re just not printing, then follow the steps taped to the top of the printer.
          Once you complete these steps, your labels should begin printing. If you are still having problems, contact the support team.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseEighteen">
          18. How do I view and print the Activity Sheet? Can I edit the document before printing?
        </a>
      </div>
      <div id="collapseEighteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: In the ‘Documentation’ section on the RxMAGIC homepage, click the 'Activity Sheet' button.
          You can use the date picker function to select the date of the sheet you would like to view, and then select generate.
          Once you are ready to print, select the ‘Export as PDF’ and print the PDF as per your normal printing routine.
          Please make sure to manually check appropriate columns or add any non-medication items to this sheet after printing.
          We are working on making the document editable in RxMAGIC.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseNineteen">
          19. How should I enter medications in the inventory? What quantity do I use for an inhaler?
        </a>
      </div>
      <div id="collapseNineteen" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: If you are unsure of how best to enter these items, check how they are already listed in the inventory or talk to other pharmacists.
          It is important items are entered in a way that most closely matches how they are prescribed. We have learned that entering all items using
          the generic form rather than brand name is the most suitable approach. For most pill bottles, the quantity is simply the number of pills in the bottle.
          In the case of eye drops/creams/insulin pens, the quantity should be entered as the weight of the item.
          For example, insulin pens are entered in 3 mL increments (5 pens = quantity 15 mLs) and creams are entered in grams.
          For inhalers, make sure the item name includes the total actuations, and then enter the quantity as 1.
        </div>
      </div>
    </div>
    <div class="card m-1">
      <div class="card-header">
        <a class="card-link text-secondary font-weight-bold" data-toggle="collapse" href="#collapseTwenty">
          20. What do I do if RxMAGIC crashes, or the Internet stops working?
        </a>
      </div>
      <div id="collapseTwenty" class="collapse" data-parent="#accordion">
        <div class="card-body">
          Answer: RxMAGIC is locally hosted on a server right in the dispensary (Gregg or Mary can show you where the server is located).
          In the rare chance RxMAGIC would ‘crash,’ you can simply plug your computers using USB cables into the server hosting RxMAGIC.
          You should be able to access RxMAGIC once successfully plugged into the server.
        </div>
      </div>
    </div>
  </div>
</div>