facility_name : Chasten Hospital
facility_phone_number : 412 481 7900, Ext. 281
authentication: local #local,remote,ldap
user_management_protocol: http
user_management_server: localhost
user_management_port: port
user_management_login: /remote_login/
user_management_logout: /remote_logout/
user_management_name: username
user_management_password: password
user_management_authenticate: /remote_authentication/
suppress_expiry_alert: false
suppress_prescription_alert: false
suppress_pmap_alert: false